# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


/_01_basic/.idea/
.idea/
out/

### Java ###
# Compiled class file
*.class
*.iml



