<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties resource="db.properties"></properties>

  <typeAliases>
    <typeAlias type="member.bean.MemberDTO" alias="member"/>
    <typeAlias type="board.bean.BoardDTO" alias="board"/>
  </typeAliases>

  <environments default="development">
      <environment id="development">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
          <property name="driver" value="${jdbc.driver}"/>
          <property name="url" value="${jdbc.url}"/>
          <property name="username" value="${jdbc.username}"/>
          <property name="password" value="${jdbc.password}"/>
        </dataSource>
      </environment>
  </environments>

  <mappers>
<!--    패키지의 개념이 아닌 폴더의 개념(상대주소, 절대주소 쓰기)-->
<!--    <mapper resource="./memberMapper.xml"/>-->
    <mapper resource="/memberMapper.xml"/>
    <mapper resource="./boardMapper.xml"/>

  </mappers>

</configuration>